$color-white                                  : '#FFFFFF';

$color-primary                                : '#F44336';
$color-primary-dark                           : '#D32F2F';
$color-primary-darkest                        : '#B71C1C';

$font-family-base                             : 'Roboto', sans-serif;
$font-weight-light                            : 300;
$font-weight-bold                             : 700;

// body
$body-font-family                             : $font-family-base;

$font-weight-logo                             : $font-weight-light;

// chat-panel
$chat-panel-vpadding                          : 50px;
