script(src='//code.jquery.com/jquery-1.12.4.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='//use.fontawesome.com/05ead1712d.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js')
script(src='//twemoji.maxcdn.com/2/twemoji.min.js?2.2.3')
script(src='bundle.min.js')
